*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: url("./image/loading.gif") no-repeat;
    background-size: cover;
    background-position: center;
}

.icon{
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 50px;
    transform: scale(2);
    border: 2px solid white;
    padding: 2rem;
    padding: 2rem;
    border-radius: 50%;
    margin-top: 2rem;
    justify-content: center;
}

.weather-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.display{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    min-width: 30%;
    min-height: 80%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
    font-size: 2rem;
    background: rgba(250,242,242,0.3);
    border-radius: 2rem;
}

.display h1{
    padding: 1rem;
    font-size: 4rem;
}

.temperature-display{
    display: flex;
    align-items: baseline;
    font-size: 4rem;
    margin-top: 2rem;
    cursor: pointer;
}

.part1{
    font-size: 5rem;

}

.part2{
    margin-left: 10px;
    font-size: 4rem;

}

.humidity, .pressure, .description{
    margin-top: 2rem;
}